{% extends "base.html" %}

{% block content %}
<body>
<div class="main">
    <div class="container container-middle">
        <section class="left-section">
            <h2>Искусствоведческие методы</h2>
            <hr class="delimiter">
            <br>
            <ul class="science">
                <li class="methods"> Анализ приемов изобразительной техники; </li>
                <li class="methods">Исследование особенностей художественной манеры, характера образно-пластического языка произведения в целом;</li>
                <li class="methods">Привлечение эталонного сравнительного материала, поиск аналогий;</li>
                <li class="methods">Фундаментальную работу с литературными, документальными, архивными источниками.</li>
            </ul>
        </section>
        <section class="right-section">
            <img src="static/images/art_met.jpg" alt="" width="370" height="290" style="vertical-align:auto;margin:65px 50px">
        </section>
    </div>


</div>
</body>
{% endblock %}