{% extends "base.html" %}

{% block content %}
<body>
<div class="main">
  <div class="container container-middle">
    <section class="left-section">
      <h2>Цифровые методы атрибуции</h2>
      <hr class="delimiter">
      <br>
      <ul class="science">
        <li class="methods">
          Фактура картины,
        определяется, гистограммой направлений хребтов полутоновых изображений
        мазков, формируемой на основе вторых частных производных от функции,
        описывающей полутоновый рельеф изображения по пространственным координатам
        и гистограммой локальной ориентации окрестностей на изображении фрагмента
          картины.</li>
        <li class="methods">
        Размер кисти, использовавшейся художником.</li>
        <li class="methods"> Выразительные графические средства (точки, группы точек, линии, группы
        линий, узоры), определяемые методом Хафа. Дополнительно устанавливаются
        опорные признаки, путем масштабирования, растяжения или сжатия, изменения или
        изгибания линии, изменения угла между двумя линиями соответствующего
        характеризующего признака.</li>
        <li class="methods"> Цветовой контраст:
        Яркость изображения, определяемая зависимостью размерности аттрактора от
        числа фазовых переменных. </li>
        <li class="methods"> Контраст цветового распространения, зависящий от пропорций и
        равновесности композиций автора. Сопоставление цветов картины в разных точках
        по отношению к нейтральному серому фону.</li>
        <li class="methods">
        Цветовые пятна, определяемые графической зависимостью коэффициента
        гашения обертонов и суммарного колера, вычисленным по самым темным, самым
        светлым и серединным колерам с учетом естественной аппаратной погрешности. </li>
      </ul>
    </section>
    <section class="right-section">
      <img src="static/images/dig_methods.jpg" alt="" width="370" height="290" style="vertical-align:auto;margin:65px 50px">
    </section>
</div>
</body>
{% endblock %}