{% extends "base.html" %}

{% block content %}
<body>
<div class="main">
    <div class="container container-middle">
        <section class="left-section">
            <h2>Что такое реставрация?</h2>
            <hr class="delimiter">
            <p>Слово «реставрация» происходит от латинского restavratio, то есть восстановление. Это кропотливая работа по восстановлению состояния произведения искусства, максимально приближенного к моменту его создания. Одним из важных ее направлений является реставрация картин - в частности масляной живописи на холсте.</p>
            <br>
            <br>
            <h2>Когда появилась?</h2>
            <hr class="delimiter">
            <p> Первые упоминания о реставраторах встречаются еще в средневековых документах. А в XVII—XVIII веках уже возникают школы профессиональной реставрации. Их появление имеет для искусства огромное значение, поскольку до этого к картинам и другим произведениям относились как к вещам, которые можно подновить или переделать на свой вкус. Реставраторы запросто могли поменять их форму, удалить лак с верхними слоями живописи или наоборот - нанести новое изображение прямо поверх авторского.</p>
            <br>
        </section>
        <section class="right-section">
            <img src="static/images/restoration_painting.webp" alt="" width="290" height="370" style="vertical-align:auto;margin:65px 50px"></img>

        </section>
    </div>
    <div class="container container-bottom">
        <h2>Почему нужно реставрировать картины?</h2>
        <hr class="delimiter">
        <p> Новые поступления - различные исторические находки или приобретения, - которыми музеи пополняют свои коллекции. Эти картины обычно находятся в аварийном состоянии из-за неправильного хранения их бывшими владельцами или неудачной предыдущей реставрации.</p>
        <br>
        <p> Несоблюдение условий хранения и ухода за ней в самом музее. Все хранилища произведений живописи должны размещаться в сухих и хорошо проветриваемых помещениях. Кроме того, здесь необходимо поддерживать своеобразный «музейный климат», который складывается из температуры, относительной влажности воздуха, освещения и чистоты атмосферы.</p>
        <br>
        <p> Картины могут повреждаться от времени, поскольку все материалы, из которых они сделаны, имеют свой «срок службы».
        </p>
    </div>
    <div class="container container-bottom">
        <h2>Что такое атрибуция картин?</h2>
        <hr class="delimiter">
        <p>  Атрибуция — это определение времени создания работы, ее авторства и подлинности. Для этого используют разные методы, в том числе современные технологии.</p>
        <br>
    </div>
</div>
</body>
{% endblock %}