{% extends "base.html" %}

{% block content %}
<body>
<div class="main">

  <div class="container container-middle">
    <section class="left-section">
      <h2>Естественнонаучные методы</h2>
      <hr class="delimiter">
      <br>
      <ul class="science">
        <li class="methods"> Физико-оптические методы исследования, не требующие отбора проб (фотография, макро- и микрофотография, бинокулярный световой микроскоп, изучение в ультрафиолетовом и инфракрасном диапазонах излучения).</li>
        <li class="methods"> Рентгенография (XR). </li>
        <li class="methods"> Различные методы исследования неорганических пигментов, включающая методику отбора пробы, изготовление микрошлифов и микросрезов.</li>
        <li class="methods"> Растровая (сканирующая) электронная микроскопия (SEM).</li>
        <li class="methods">Элементные анализы: эмиссионный спектральный анализ, лазерный микрозонд, энергодисперсный рентгеновский анализ (EDX), рентгенофлуоресцентный анализ (РФА = XRF).</li>
        <li class="methods">Молекулярный спектральный анализ: Рамановская спектроскопия (комбинационного рассеивания).</li>
        <li class="methods">Различные методы исследования органических красителей и связующего и лаков - микрохимический анализ, с помощью гистохимических красителей, инфракрасная спектрометрия (ИК-Фурье спектроскопия, FTIR).</li>
        <li class="methods">Датирование живописных произведений по использованным материалам.</li>
      </ul>
      <br>
    </section>
    <section class="right-section">
      <img src="static/images/art_investigation.jpg" alt="" width="290" height="370" style="vertical-align:auto;margin:65px 50px">
    </section>
</div>
</div>
</body>
{% endblock %}